@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

:root {
    font-size: 14px;
}

#impersonate-banner {
    z-index: 0 !important;
}

.fi-sidebar-nav>ul {
    @apply  !gap-y-1;
}

div.fi-layout > aside.fi-sidebar {
    padding-top: 0px !important;
}
